#headline {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 7px;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#chapter-title {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.image {
  display: block;
  margin: 0 auto;

  width: 50em;
  align-content: center;
}

.caption {
  font-family: "Arial", sans-serif;
  font-size: .85em;
  color: gray;
  margin-left: 11.40em;
}

p {
  font-family: "Georgia", serif;
  line-height: 180%;
  font-size: 1em;
}

.footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
}

.footer-text {
  margin-top: 8px;
}
